body {
	margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #454545;
	image-rendering: -moz-crisp-edges; 
	font-size: 14px;
}

header {
	height: 8px;
	border-bottom: 2px solid #8D8D8D;
	padding: 16px;
	background: none repeat scroll #17604E;
	color: #FFFFFF;
	font-weight: bold;
}

input[type="text"]
{
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="submit"]
{
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

select {
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px 0px 8px;
	height: 24px;
	border: 1px solid #17604E;
	width: 80px;
	padding: 3px;
	border-top: 0px;
}

.box {
    margin: 0px;
	padding: 5px;
	height: 32px;
	border: 1px solid rgb(23, 96, 78);
	width: 400px;
}

.boxMms {
    margin: 0px;
	padding: 5px;
	height: 24px;
	border: 1px solid #17604E;
	width: 400px;
	border-top: 0px;
}

.h{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.d {
	width: 716px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.first {
	width: 294px;
	float: left;
}

.dash {
    border: 1px solid #17604e;
	background: none repeat scroll 0% 0% #FFF;
	color: #515151;
	width: 270px;
	padding: 8px;
	margin-right: 8px;
	border-top: 0px;
	height: 130;
}

.p {
    border: 1px solid #17604e;
	background: none repeat scroll 0% 0% #FFF;
	color: #515151;
	width: 400px;
	padding: 8px;
	border-top: 0px;
	float: left;
	margin-bottom: 20px;
}

hr {
    height: 1px;
    background-color: #CECECE;
    border: 0px none;
}

.sms {
	width: 400px;
	position: relative;
	height: 72px;
	border-bottom: 1px solid #CECECE;
}

.mms {
	width: 400px;
	position: relative;
	height: 288px;
	border-bottom: 1px solid #CECECE;
}

.mmsImage {
	border: 1px solid #CECECE; 
	height: 196px;
	background-position:center center; 
	background-repeat:no-repeat; 
	margin-top: 50px;
	cursor: zoom-in;
	border-radius: 0px 0px 0px 16px;
	margin-bottom: 4px;
	image-rendering: auto;
	overflow: hidden;
}

.mmsWeb {
	border: 1px solid #CECECE; 
	height: 16px;
	margin-top: 50px;
	border-radius: 0px 0px 0px 16px;
	margin-bottom: 4px;
	color: #515151;
	padding: 5px;
}

.mmsFavicon{
	background-position:center center; 
	background-repeat:no-repeat; 
	image-rendering: auto;
}

.web{
	height: 118px;
}

.board {
	width: 270px;
	position: relative;
}

.img_profile {
	height: 40px; 
	width: 40px;
	float: left;
	background-size: 40px;
	border: 1px solid #CECECE;
	image-rendering: auto;
}

.sms_text{
	margin-left: 8px;
	float: left;
	width: 350px;
	height: 34px;
	overflow: hidden;
}

.postUUID{
	margin-bottom: 2px;	
}

li{
	display: inline;
}

ul{
	display: inline;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: #929292;
}

.header{
	margin-top: -4px;
	width: 724px;
	margin-left: auto;
	margin-right: auto;
}

.smsPost{
	float: right;
}

.profileChar {
	width: 220px;
	position: relative;
	float: left;
	margin-left: 8px;
}

.uuid{
	font-weight: bold;
}

.boxPrivate{
	width: 94px;
	height: 24px;
	margin: 0px -5px 8px;
	padding: 5px;
	border: 1px solid #17604E;
	border-top: 0px;
}

.button {
    height: 24px;
    border: 1px solid #17604E;
	border-top: 0px;
	width: 54px;
}

.boxChars{
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #17604E #17604E #17604E;
	margin: 0px -4px 8px 0px;
	width: 200px;
	padding: 4px;
	border-right: 0px;
}

.reSend{
    float: right;
    height: 16px;
    margin-top: 3px;
    width: 75px;
    border: 1px solid #CECECE;
    border-bottom: 0px;
}

.reply{
    float: right;
    height: 16px;
    margin-top: 3px;
    width: 75px;
    border: 1px solid #CECECE;
    border-bottom: 0px;
    border-left: 0px;
}

.reSendNumbers{
    float: right;
	height: 16px;
	width: 75px;
	text-align: right;
	border-width: 0px;
	background-color: rgba(255, 255, 255, 0);
	margin-top: 3px;
	color: #CECECE;
}

.profileDesc {
	margin-top: 28px;
	color: #929292;
	margin-bottom: 8px;
	height: 42px;
	border-bottom: 1px solid #CECECE;
}

.dashContacts {
	width: 67.5px;
	text-align: center;
	float: left;
	font-size: 13px;
	color: #929292;
}

.bold{
	font-weight: bold;
}

.f {
    border: 1px solid #17604e;
	background: none repeat scroll 0% 0% #FFF;
	color: #515151;
	width: 270px;
	padding: 8px;
	margin-right: 8px;
	margin-top: 8px;
}

.tt {
    width: 270px;
    position: relative;
}

.tagT{
	margin-left: 8px;
}

.tagTNum{
	font-size: 12px;
	margin-left: 4px;
	color: #929292;
}

.fulledImage {
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 3000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}

.sizedImage {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 3000;
	border: 2px solid #17604E;
	height: 80%;
	width: 90%;
	background-color: #FFF;
	background-size: contain;
	min-height: 150px;
	max-height: 400px;
	image-rendering: auto;
	
	min-width: 300px;
	max-width: 700px;
	
	min-height: 150px;
	max-height: 400px;
	cursor: zoom-out;
	
	margin:0 auto;
	margin: auto;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
  	border-radius: 0px 0px 0px 16px;
}

#public {
	border-radius: 0px 0px 0px 16px;	
}